<h2>Hej <%= @borrower.email %></h2>
<p>
  <%= @reservation.expires_at %> upływa termin oddania ksiązki pt. <%= @book.title %>. Prosimy - zwróć ksiązkę w terminie! <br>
  <%= link_to "Przejdź do książki", book_url(@book.id, host: "localhost:3000") %>
</p>